<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<title>予約履歴画面</title>
</head>

<body>
	<div th:replace="header::header"></div>
	<div style="text-align: center;">
		<table align="center" th:object="${OrderHistoryForm}">
			<tbody>
				<tr>
					<th>顧客番号</th>
					<td th:text="${orderHistoryForm.member.memberCode}">memberCode</td>
					<th>メールアドレス</th>
					<td th:text="${orderHistoryForm.member.Mail}">Mail</td>
					<th>郵便番号</th>
					<td th:text="${orderHistoryForm.member.ZipCode}">ZipCode</td>
				</tr>
				<tr>
					<th>名前</th>
					<td th:text="${orderHistoryForm.member.Name}">Name</td>
					<th>電話番号</th>
					<td th:text="${orderHistoryForm.member.Tel}">Tel</td>
					<th>住所</th>
					<td th:text="${orderHistoryForm.member.Address}">Address</td>
				</tr>
			</tbody>
		</table>
		<p>現在の予約履歴</p>

		<form action="#" th:action="@{/order/deletecomfirm}"
			th:object="${OrderHistoryForm}" method="post">
			<table align="center">
				<tbody>
					<tr>
						<th>宿泊予定日</th>
						<th>注文日</th>
						<th>ホテル名</th>
						<th></th>
					</tr>
					<tr th:if="${!#lists.isEmpty(orderHistoryForm.currentOrders)}"
						th:each="pair, st : ${orderHistoryForm.currentOrders}">
						<td
							th:text="${orderHistoryForm.currentOrders[__${st.index}__].first.hotelItem.date}">StayDate
						</td>
						<td
							th:text="${orderHistoryForm.currentOrders[__${st.index}__].first.OrderNo}">OrderDate</td>
						<td
							th:text="${orderHistoryForm.currentOrders[__${st.index}__].first.hotelItem.hotel.name}">
							Hotel</td>
						<td><input type="checkbox"
							th:field="${orderHistoryForm.currentOrders[__${st.index}__].second}"
							value="True" /></td>
						<td><input type="hidden"
							th:field="${orderHistoryForm.currentOrders[__${st.index}__].first.orderNo}" /></td>
						<td><input type="hidden"
							th:field="${orderHistoryForm.currentOrders[__${st.index}__].first.hotelItem.itemCode}" />
						</td>
						<td><input type="hidden"
							th:field="${orderHistoryForm.currentOrders[__${st.index}__].first.quantity}" /></td>
						<td><input type="hidden"
							th:field="${orderHistoryForm.currentOrders[__${st.index}__].first.hotelItem.price}" />
						</td>
					</tr>
				</tbody>
			</table>
			<p>
				<button>予約キャンセル</button>
			</p>
		</form>

		<p>過去の予約履歴</p>
		<p>(当日のキャンセルはできません)</p>
		<table align="center">
			<tbody>
				<tr>
					<th>宿泊予定日</th>
					<th>注文日</th>
					<th>ホテル名</th>
				</tr>

				<tr th:if="${!#lists.isEmpty(orderHistoryForm.pastOrders)}"
					th:each="pair, st : ${orderHistoryForm.pastOrders}">
					<td
						th:text="${orderHistoryForm.pastOrders[__${st.index}__].first.hotelItem.date}">StayDate</td>
					<td
						th:text="${orderHistoryForm.pastOrders[__${st.index}__].first.OrderNo}">OrderDate</td>
					<td
						th:text="${orderHistoryForm.pastOrders[__${st.index}__].first.hotelItem.hotel.name}">Hotel</td>
				</tr>
			</tbody>
		</table>

		<form th:action="@{/order/history/}">
			<button>戻る</button>
		</form>

	</div>
</body>

</html>
