<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<title>顧客情報検索画面</title>
</head>

<body>
	<div style="text-align: center;">
		<div th:insert="top::back2Top"></div>
		<p>予約確認キャンセル画面</p>

		<table th:each="hotelItem : ${hotelItemList}">
			<tr>
				<td th:text="${hotelItem.date}">date</td>
				<td th:text="${hotelItem.hotel.name}">hotelName</td>
			</tr>
		</table>
		<p>予約キャンセル完了しました</p>
		<p>
			<a th:href="@{/order/history/}">
				<button>予約履歴画面へ</button>
			</a>
		</p>

		<div th:insert="footer::back2Top"></div>
	</div>
</body>

</html>