<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<title>顧客情報検索画面</title>
</head>

<body>
	<div th:replace="header::header"></div>
	<div style="text-align: center;">
		<h1>予約確認キャンセル画面</h1>

		<table>
			<tr th:each="hotelItem : ${hotelItemList}">
				<td th:text="${hotelItem.date}">date</td>
				<td th:text="${hotelItem.hotel.name}">hotelName</td>
			</tr>
		</table>
		<h3>予約キャンセル完了しました</h3>
		<form th:if="${session.loginMember.role.equals('Customer')}"
			th:action="@{/topmenu/}">
			<button>戻る</button>
		</form>
		<form th:if="${session.loginMember.role.equals('Employee')}"
			th:action="@{/order/backhistory/}">
			<button>戻る</button>
		</form>
	</div>
</body>

</html>
