<?xml version="1.0" encoding="UTF-8"?>
<!-- RetrieveProductMapper.xml -->
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.tsys.common.mapper.HotelMasterMapper">

	<select id = "findHotel" resultType = "jp.co.tsys.common.entity.Hotel">


		select
			hotelmaster.HotelCode as hotelCode,
			hotelmaster.Name 	as name,
			city.Name 			as cityName,
			hotelmaster.Grade 	as grade
		from
			hotelmaster
		inner join
			city
		on
			hotelmaster.CityCode = City.CityCode
		where
			(hotelmaster.HotelCode = #{hotelCode} OR #{hotelCode} = "")
		and
			(hotelmaster.NAME LIKE CONCAT('%', #{hotelName}, '%') OR #{hotelName} = "");
	</select>
</mapper>
