<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<title>メンバー情報変更</title>
</head>

<body>
	<div th:replace="header::header"></div>
	<div style="text-align: center"
		th:if="${memberForm.member.role == 'Customer'}">
		<h1>メンバー変更確定確認</h1>
		<p>以下の情報に更新しました。</p>
		<table align="center" border="1">
			<tr>
				<th style="background-color: rgb(255, 206, 206);">メンバー名</th>
				<td th:text="${customerMemberForm.name}">name</td>
			</tr>
			<tr>
				<th style="background-color: rgb(255, 206, 206);">パスワード</th>
				<td th:text="${customerMemberForm.password}">password</td>
			</tr>
			<tr>
				<th style="background-color: rgb(255, 206, 206);">郵便番号</th>
				<td th:text="${customerMemberForm.zipCode}">zipCode</td>
			</tr>
			<tr>
				<th style="background-color: rgb(255, 206, 206);">都道府県</th>
				<td th:text="${customerMemberForm.prefecture}">prefecture</td>
			</tr>
			<tr>
				<th style="background-color: rgb(255, 206, 206);">住所</th>
				<td th:text="${customerMemberForm.address}">address</td>
			</tr>
			<tr>
				<th style="background-color: rgb(255, 206, 206);">電話番号</th>
				<td th:text="${customerMemberForm.tel}">tel</td>
			</tr>
			<tr>
				<th style="background-color: rgb(255, 206, 206);">メールアドレス</th>
				<td th:text="${customerMemberForm.mail}">mail</td>
			</tr>
		</table>
	</div>

	<div style="text-align: center"
		th:if="${memberForm.member.role == 'Employee'}">
		<h1>メンバー変更確定確認</h1>
		<p>以下の情報に更新しました。</p>
		<table align="center" border="1">
			<tr>
				<th style="background-color: rgb(255, 206, 206);">メンバー名</th>
				<td th:text="${employeeMemberForm.name}">name</td>
			</tr>
			<tr>
				<th style="background-color: rgb(255, 206, 206);">パスワード</th>
				<td th:text="${employeeMemberForm.password}">password</td>
			</tr>
			<tr>
				<th style="background-color: rgb(255, 206, 206);">メールアドレス</th>
				<td th:text="${employeeMemberForm.mail}">mail</td>
			</tr>
		</table>
	</div>
</body>

</html>
