<!-- All Rights Reserved, Copyright(c) Fujitsu Learning Media Limited -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<title>トップ画面</title>
</head>
<body>
	<h1>販売管理システム</h1>
	<br>
	<table border="1">
		<caption>メインメニュー画面</caption>
		<tr>
			<td>商品管理業務</td>
			<td>商品販売業務</td>
			<td>集計業務</td>
			<td>メンバー管理業務</td>
		</tr>
		<tr>
			<td><br><br><br></td>
			<td><br><br><br></td>
			<td><br><br><br></td>
		</tr>
	</table>
	<br>
	<br>
</body>
</html>