<!-- All Rights Reserved, Copyright(c) Fujitsu Learning Media Limited -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta charset="utf-8">
<!--<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />-->
<title>従業員トップメニュー画面</title>
</head>
<body>
	​
	<div th:insert="header::back2Top"></div>
	<div style="text-align: center;">
		<h1>従業員用メニュー</h1>
		<p>
			<a th:href="@{/emphotelreserve}">
				<button class="menuButton">ホテル予約</button>
			</a>
		</p>
		<p>
			<a th:href="@{/productmanage}">
				<button class="menuButton">商品管理</button>
			</a>
		</p>
		<p>
			<a th:href="@{/membermanage}">
				<button class="menuButton">メンバー管理</button>
			</a>
		</p>
	</div>
</body>
</html>