<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<title>商品削除確認</title>
</head>

<body>
	<div th:replace="header::header"></div>
	<div style="text-align: center;">
		<div style="text-align: left; width: fit-content;">
			<a th:href="@{/topmenu/productmanage}">
				<button>商品管理メニュー</button>
			</a>
		</div>
		<h1>ホテル商品削除確認</h1>

		<table border="1" align="center">
			<tr>
				<th>商品コード</th>
				<td th:text="${hotelItemForm.itemCode}">itemCode</td>
			</tr>
			<tr>
				<th>ホテルコード</th>
				<td th:text="${hotelItemForm.hotelCode}">hotelCode</td>
			</tr>
			<tr>
				<th>ホテル名</th>
				<td th:text="${hotelItemForm.name}">name</td>
			</tr>
			<tr>
				<th>宿泊日</th>
				<td th:text="${hotelItemForm.date}">date</td>
			</tr>
			<tr>
				<th>都市名</th>
				<td th:text="${hotelItemForm.cityName}">cityName</td>
			</tr>
			<tr>
				<th>グレード</th>
				<td th:text="${hotelItemForm.grade}">grade</td>
			</tr>
			<tr>
				<th>料金</th>
				<td class="digit" style="text-align: left;"
					th:text="${hotelItemForm.price} + '円'">price</td>
			</tr>
			<tr>
				<th>在庫数</th>
				<td th:text="${hotelItemForm.stock}">stock</td>
			</tr>
		</table>

		<p>
			<a th:href="@{/hotelitem/delete/commitdelete}">
				<button>確定</button>
			</a>
		</p>

		<p>
			<a th:href="@{/hotelitem/delete/quitdelete}">
				<button>戻る</button>
			</a>
		</p>

	</div>
</body>

</html>
