<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<title>予約確認</title>
<style>
th {
	background-color: rgb(255, 185, 185);
	border: solid 2px;
	padding: 10px;
	padding-right: 30px;
	padding-left: 30px;
}

h1 {
	font-size: 1.5em;
	line-height: 1.2em;
	text-align: center;
}

div.subtitle {
	font-size: 1.3em;
	font-weight: bold;
	padding-left: 180px;
	text-align: left;
}

p.sum {
	font-size: 1.3em;
	font-weight: bold;
	text-align: right;
	padding-right: 180px;
}
</style>
</head>

<body>
	<div th:replace="Header::header"></div>
	<h1 style="text-align: center">予約確認</h1>

	<p th:text="${message}" class="error"></p>

	<div class="subtitle">予約情報</div>
	<div th:object="${ordersForm}">
		<table border="1" width="1000px">
			<tr>
				<th>ホテルコード</th>
				<th>ホテル名</th>
				<th>宿泊日</th>
				<th>料金</th>
				<th>部屋数</th>
				<th>小計</th>
			</tr>
			<tr th:each="order : *{orders}">
				<td th:text="${order.hotelItem.hotel.hotelCode}">hotelCode</td>
				<td th:text="${order.hotelItem.hotel.name}">name</td>
				<td th:text="${order.hotelItem.date}">date</td>
				<td
					th:text="${#numbers.formatInteger(order.hotelItem.price, 3, 'COMMA')}+'円'">price</td>
				<td th:text="${order.quantity}">quantity</td>
				<td th:if="${order.subTotal}!= 0"
					th:text="${#numbers.formatInteger(order.subTotal, 3, 'COMMA')}+'円'">
					price</td>
				<td th:if="${order.subTotal}== 0" th:text="${order.subTotal}+'円'">price</td>
			</tr>
		</table>
		<p class="sum" th:if="*{orderTotal} != 0">
			合計金額 <span
				th:text="*{#numbers.formatInteger(orderTotal, 3, 'COMMA')}+'円'"></span>
		</p>
		<p class="sum" th:if="*{orderTotal} == 0">
			合計金額 <span th:text="*{orderTotal}+'円'"></span>
		</p>
	</div>
	<br>

	<div class="subtitle">メンバー情報</div>
	<div th:if="${'Employee'.equals(loginMember.role)}">
		<form th:object="${memberCodeForm}" th:action="@{/payment/findMember}">
			<div class="error" th:if="${#fields.hasErrors('memberCode')}"
				th:errors="*{memberCode}"></div>
			メンバーコード <input type="text" th:field="*{memberCode}" minlength="6">
			<button type="submit">検索</button>
		</form>
	</div>

	<form id="order" th:object="${ordersForm}"
		th:action="@{/payment/completion}">
		<div class="error" th:if="${#fields.hasErrors('payment')}"
			th:errors="*{payment}"></div>
		<table border="1" width="1000px" style="text-align: left;">
			<tr>
				<th>名前</th>
				<td th:text="${displayMember.name}"></td>
			</tr>
			<tr>
				<th>送付先</th>
				<td th:if="${displayMember.zipCode} != null"
					th:text="'〒'+${displayMember.zipCode + '   '+ displayMember.prefecture + displayMember.address}">
				</td>
			</tr>
			<tr>
				<th>電話番号</th>
				<td th:text="${displayMember.tel}"></td>
			</tr>
			<tr>
				<th>決済方法</th>
				<td><input type="radio" name="pay" th:field="*{payment}"
					th:value="'01'">代金引き換え&emsp;<input type="radio" name="pay"
					th:field="*{payment}" th:value="'02'">コンビニエンスストア決済</td>
			</tr>
		</table>
	</form>
	<p></p>
	<form th:action="@{/payment/cart}"
		style="text-align: left; float: left;">
		<button type="submit">戻る</button>
	</form>
	<!--	画面表示の関係でここにボタンを配置-->
	<div style="text-align: right;">
		<button form="order" type="submit">予約確定</button>
	</div>

</body>

</html>
