<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<title>カート</title>
</head>
<body>
	<h1>ショッピングカート</h1>
	
	<p th:text="${message}" class="error"></p>

	<form th:object="${shoppingCartForm}" method="post"
		th:action="@{/payment//confirmation}">
		<table border="1">
			<tr>
				<th>ホテルコード</th>
				<th>ホテル名</th>
				<th>宿泊日</th>
				<th>料金</th>
				<th>部屋数</th>
				<th>小計</th>
			</tr>
			<tr th:each="order : *{orders}">
				<td th:text="*{order.hotelitem.hotel.hotelcode}">hotelCode</td>
				<td th:text="*{order.hotelitem.hotel.name}">name</td>
				<td th:text="*{order.hotelitem.date}">date</td>
				<td th:text="*{order.hotelitem.price}">price</td>
				<td th:text="*{order.quantity}">quantity</td>
				<td th:text="*{order.hotelitem.price*order.quantity}">price</td>
		    </tr>

		</table>
		<br>
		<button type="submit">予約</button>
	</form>
	<p></p>
	<form th:action="@{/payment//confirmation}">
		<button type="submit">ホテル検索画面へ</button>
	</form>
</body>
</html>