<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<title>メンバー登録</title>
</head>

<body>
	<!--	従業員用画面でお客様を登録する場合-->
	<div style="text-align: center;"
		th:if="${customerMemberForm.role == 'Customer'}">
		<div th:replace="header::header"></div>

		<h1>メンバー登録</h1>
		<p>登録するメンバー情報を入力してください。</p>

		<p th:text="${message}" class="error">error message</p>
		<p>
			<font color="red">※は入力必須項目です。</font>
		</p>

		<form th:object="${customerMemberForm}" method="post">
			<table align="center" border="1">
				<tr>
					<th style="background-color: rgb(255, 206, 206);">権限</th>
					<td th:text="*{role}">role</td>
				</tr>
				<tr>
					<th style="background-color: rgb(255, 206, 206);">メンバー名&nbsp;<font
						color=red>※</font><br>
					</th>
					<td><input type="text" placeholder="富士通太郎" th:field="*{name}"
						maxlength="20">
						<div class="error" th:if="${#fields.hasErrors('name')}"
							th:errors="*{name}">
							<p color="red">validation massage</p>
						</div></td>
				</tr>
				<tr>
					<th style="background-color: rgb(255, 206, 206);">パスワード&nbsp;<font
						color=red>※</font><br> <span class="supplement">※8文字以上15字以内で入力してください。</span>
					</th>
					<td><input type="password" th:field="*{password}"
						maxlength="15">
						<div class="error" th:if="${#fields.hasErrors('password')}"
							th:errors="*{password}">validation massage</div></td>
				</tr>
				<tr>
					<th style="background-color: rgb(255, 206, 206);">
						確認用パスワード&nbsp;<font color=red>※</font><br> <span
						class="supplement"> ※確認のため同じパスワードを入力してください。</span>
					</th>
					<td><input type="password" th:field="*{confirmPassword}"
						maxlength="15">
						<div class="error" th:if="${#fields.hasErrors('confirmPassword')}"
							th:errors="*{confirmPassword}">validation massage</div></td>
				</tr>
				<tr>
					<th style="background-color: rgb(255, 206, 206);">郵便番号&nbsp;<font
						color=red>※</font><br> <span class="supplement">
							※ハイフン込み8文字で入力してください。</span>
					</th>
					<td><input type="text" placeholder="123-4567"
						th:field="*{zipCode}" maxlength="8">
						<div class="error" th:if="${#fields.hasErrors('zipCode')}"
							th:errors="*{zipCode}">validation massage</div></td>
				</tr>
				<tr>
					<th style="background-color: rgb(255, 206, 206);">都道府県&nbsp;<font
						color=red>※</font>
					</th>
					<td><input type="text" placeholder="東京都"
						th:field="*{prefecture}" maxlength="8">
						<div class="error" th:if="${#fields.hasErrors('prefecture')}"
							th:errors="*{prefecture}">validation massage</div></td>
				</tr>
				<tr>
					<th style="background-color: rgb(255, 206, 206);">
						住所（都道府県以降）&nbsp;<font color=red>※</font><br>
					</th>
					<td><input type="text" placeholder="港区港南"
						th:field="*{address}" maxlength="50">
						<div class="error" th:if="${#fields.hasErrors('address')}"
							th:errors="*{address}">validation massage</div></td>
				</tr>
				<tr>
					<th style="background-color: rgb(255, 206, 206);">電話番号&nbsp;<font
						color=red>※</font><br> <span class="supplement">※ハイフン込み13文字以内で入力してください。</span>
					</th>
					<td><input type="text" placeholder="012-3456-7890"
						th:field="*{tel}" maxlength="13">
						<div class="error" th:if="${#fields.hasErrors('tel')}"
							th:errors="*{tel}">validation massage</div></td>
				</tr>
				<tr>
					<th style="background-color: rgb(255, 206, 206);">
						メールアドレス&nbsp;<font color=red>※</font><br>
					</th>
					<td><input type="text" placeholder="abc@def.com"
						th:field="*{mail}" maxlength="100">
						<div class="error" th:if="${#fields.hasErrors('mail')}"
							th:errors="*{mail}">validation massage</div></td>
				</tr>
			</table>

			<br>


			<table style="border-collapse: collapse" align="center">
				<tr>
					<td><a th:href="@{/member/regist/returnrole}">
							<button
								style="width: fit-content; height: fit-content; font-size: 12pt; font-weight: bold; background-color: rgb(255, 185, 185); border-radius: 5px; border-color: rgb(64, 0, 64); border-style: solid;"
								formaction="/member/regist/returnrole">戻る</button>
					</a></td>

					<td>
						<button
							style="width: fit-content; height: fit-content; font-size: 12pt; font-weight: bold; background-color: rgb(255, 185, 185); border-radius: 5px; border-color: rgb(64, 0, 64); border-style: solid;"
							formaction="/member/regist/customercomfirm">登録</button>
					</td>
				</tr>
			</table>

		</form>
	</div>


	<!--	従業員用画面で従業員を登録する場合-->
	<div style="text-align: center;"
		th:if="${employeeMemberForm.role == 'Employee'}">
		<div th:replace="header::header"></div>

		<h1>メンバー登録</h1>
		<p>登録するメンバー情報を入力してください。</p>
		<p th:text="${message}" class="error">
			<font color="red">error message</font>
		</p>
		<p>
			<font color="red">※は入力必須項目です。</font>
		</p>

		<form th:object="${employeeMemberForm}" method="post">
			<table align="center" border="1">
				<tr>
					<th style="background-color: rgb(255, 206, 206);">権限</th>
					<td th:text="*{role}">role</td>
				</tr>
				<tr>
					<th style="background-color: rgb(255, 206, 206);">メンバー名&nbsp;<font
						color=red>※</font><br>
					</th>
					<td><input type="text" placeholder="富士通太郎" th:field="*{name}"
						maxlength="20">
						<div class="error" th:if="${#fields.hasErrors('name')}"
							th:errors="*{name}">validation massage</div></td>
				</tr>
				<tr>
					<th style="background-color: rgb(255, 206, 206);">パスワード&nbsp;<font
						color=red>※</font><br> <span class="supplement">※8文字以上15字以内で入力してください。</span>
					</th>
					<td><input type="password" th:field="*{password}"
						maxlength="15">
						<div class="error" th:if="${#fields.hasErrors('password')}"
							th:errors="*{password}">validation massage</div></td>
				</tr>
				<tr>
					<th style="background-color: rgb(255, 206, 206);">
						確認用パスワード&nbsp;<font color=red>※</font><br> <span
						class="supplement"> ※確認のため同じパスワードを入力してください。</span>
					</th>
					<td><input type="password" th:field="*{confirmPassword}"
						maxlength="15">
						<div class="error" th:if="${#fields.hasErrors('confirmPassword')}"
							th:errors="*{confirmPassword}">validation massage</div></td>
				</tr>
				<tr>
					<th style="background-color: rgb(255, 206, 206);">
						メールアドレス&nbsp;<font color=red>※</font><br>
					</th>
					<td><input type="text" placeholder="abc@def.com"
						th:field="*{mail}" maxlength="100">
						<div class="error" th:if="${#fields.hasErrors('mail')}"
							th:errors="*{mail}">validation massage</div></td>
				</tr>
			</table>

			<br>

			<table style="border-collapse: collapse" align="center">
				<tr>
					<td><a th:href="@{/member/regist/returnrole}">
							<button
								style="width: fit-content; height: fit-content; font-size: 12pt; font-weight: bold; background-color: rgb(255, 185, 185); border-radius: 5px; border-color: rgb(64, 0, 64); border-style: solid;"
								formaction="/member/regist/returnrole">戻る</button>
					</a></td>

					<td>
						<button
							style="width: fit-content; height: fit-content; font-size: 12pt; font-weight: bold; background-color: rgb(255, 185, 185); border-radius: 5px; border-color: rgb(64, 0, 64); border-style: solid;"
							formaction="/member/regist/employeecomfirm">登録</button>
					</td>
				</tr>
			</table>
		</form>
	</div>


	<!--	お客様用画面でお客様を登録する場合-->
	<div style="text-align: center;"
		th:if="${customerMemberForm.role == 'CustomerC'}">

		<h1>メンバー登録</h1>
		<p>登録するメンバー情報を入力してください。</p>

		<p th:text="${message}" class="error">
			<font color="red">error message</font>
		</p>
		<p>
			<font color="red">※は入力必須項目です。</font>
		</p>

		<form th:object="${customerMemberForm}" method="post">
			<table align="center" border="1">
				<tr>
					<th style="background-color: rgb(255, 206, 206);">メンバー名&nbsp;<font
						color=red>※</font><br>
					</th>
					<td><input type="text" placeholder="富士通太郎" th:field="*{name}"
						maxlength="20">
						<div class="error" th:if="${#fields.hasErrors('name')}"
							th:errors="*{name}">validation massage</div></td>
				</tr>
				<tr>
					<th style="background-color: rgb(255, 206, 206);">パスワード&nbsp;<font
						color=red>※</font><br> <span class="supplement">※8文字以上15文字以上で入力してください。</span>
					</th>
					<td><input type="password" th:field="*{password}"
						maxlength="15">
						<div class="error" th:if="${#fields.hasErrors('password')}"
							th:errors="*{password}">validation massage</div></td>
				</tr>
				<tr>
					<th style="background-color: rgb(255, 206, 206);">
						確認用パスワード&nbsp;<font color=red>※</font><br> <span
						class="supplement"> ※確認のため同じパスワードを入力してください。</span>
					</th>
					<td><input type="password" th:field="*{confirmPassword}"
						maxlength="15">
						<div class="error" th:if="${#fields.hasErrors('confirmPassword')}"
							th:errors="*{confirmPassword}">validation massage</div></td>
				</tr>
				<tr>
					<th style="background-color: rgb(255, 206, 206);">郵便番号&nbsp;<font
						color=red>※</font><br> <span class="supplement">
							※ハイフン込み8文字で入力してください。</span>
					</th>
					<td><input type="text" placeholder="123-4567"
						th:field="*{zipCode}" maxlength="8">
						<div class="error" th:if="${#fields.hasErrors('zipCode')}"
							th:errors="*{zipCode}">validation massage</div></td>
				</tr>
				<tr>
					<th style="background-color: rgb(255, 206, 206);">都道府県&nbsp;<font
						color=red>※</font>
					</th>
					<td><input type="text" placeholder="東京都"
						th:field="*{prefecture}" maxlength="8">
						<div class="error" th:if="${#fields.hasErrors('prefecture')}"
							th:errors="*{prefecture}">validation massage</div></td>
				</tr>
				<tr>
					<th style="background-color: rgb(255, 206, 206);">
						住所（都道府県以降）&nbsp;<font color=red>※</font><br>
					</th>
					<td><input type="text" placeholder="港区港南"
						th:field="*{address}" maxlength="50">
						<div class="error" th:if="${#fields.hasErrors('address')}"
							th:errors="*{address}">validation massage</div></td>
				</tr>
				<tr>
					<th style="background-color: rgb(255, 206, 206);">電話番号&nbsp;<font
						color=red>※</font><br> <span class="supplement">※ハイフン込み13文字以内で入力してください。</span>
					</th>
					<td><input type="text" placeholder="012-3456-7890"
						th:field="*{tel}" maxlength="13">
						<div class="error" th:if="${#fields.hasErrors('tel')}"
							th:errors="*{tel}">validation massage</div></td>
				</tr>
				<tr>
					<th style="background-color: rgb(255, 206, 206);">
						メールアドレス&nbsp;<font color=red>※</font><br>
					</th>
					<td><input type="text" placeholder="abc@def.com"
						th:field="*{mail}" maxlength="100">
						<div class="error" th:if="${#fields.hasErrors('mail')}"
							th:errors="*{mail}">validation massage</div></td>
				</tr>
			</table>

			<br>

			<table style="border-collapse: collapse" align="center">
				<tr>
					<td>
						<!--						ログイン画面に戻るように変える--> <a
						th:href="@{/member/regist/returnrole}">
							<button
								style="width: fit-content; height: fit-content; font-size: 12pt; font-weight: bold; background-color: rgb(255, 185, 185); border-radius: 5px; border-color: rgb(64, 0, 64); border-style: solid;"
								formaction="/member/regist/returnlogin">ログイン画面へ戻る</button>
					</a>
					</td>

					<td>
						<button
							style="width: fit-content; height: fit-content; font-size: 12pt; font-weight: bold; background-color: rgb(255, 185, 185); border-radius: 5px; border-color: rgb(64, 0, 64); border-style: solid;"
							formaction="/member/regist/customercomfirm">登録</button>
					</td>
				</tr>
			</table>
		</form>
	</div>

</body>

</html>
