<!-- All Rights Reserved, Copyright(c) Fujitsu Learning Media Limited -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	<title>商品変更</title>
</head>

<body>
	<div style="text-align: center;">
		<p>
			<a th:href="@{/itemMgrMenu}">
				<button>商品管理メニュー</button>
			</a>
		</p>
		<h1>ホテル商品変更</h1>

		<form th:object="${updateForm}" method="post"
		th:action="@{/hotelItem/update/confirmupdate}">
			<table border="1" align="center">
				<tr>
					<th>商品コード</th>
					<td>
						<p th:text="${hotelItemForm.itemCode}">itemCode</p>
					</td> 
				</tr>
				<tr>
					<th>ホテルコード</th>
					<td>
						<p th:text="${hotelItemForm.hotelCode}">hotelCode</p>
					</td>
				</tr>
				<tr>
					<th>ホテル名</th>
					<td>
						<p th:text="${hotelItemForm.name}">name</p>
					</td>
				</tr>
				<tr>
					<th>宿泊日</th>
					<td>
						<p th:text="${updateForm.date}">date</p>
						<imput type="hidden" th:field="*{date}">
					</td>
				</tr>
				<tr>
					<th>都市名</th>
					<td>
						<p th:text="${hotelItemForm.cityName}">cityName</p>
					</td>
				</tr>
				<tr>
					<th>グレード</th>
					<td>
						<p th:text="${hotelItemForm.grade}">grade</p>
					</td>
				</tr>
				<tr>
					<th>料金</th>
					<td>
						<p class="digit" th:text="${updateForm.price} + '円'">price</p>
						<imput type="hidden" th:field="*{price}">
					</td>
				</tr>
				<tr>
					<th>在庫数</th>
					<td>
						<p th:text="${updateForm.stock}">stock</p>
						<imput type="hidden" th:field="*{stock}">
					</td>
				</tr>
			</table>
		</form>

		<p>
			<a th:href="@{'/hotelItem/update/quitupdate}">
				<button>戻る</button>
			</a>
		</p>

		<p>
			<a th:href="@{'/hotelItem/update/confirmupdate}">
				<button>変更</button>
			</a>
		</p>

		<div th:insert="footer::back2Top"></div>
	</div>
</body>

</html>