<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
​
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<title>ホテル商品検索画面</title>
<style type="text/css">
.search_block {
	display: inline-block;
	/* インラインブロック要素にする */
	border-color: black;
	border-width: 3px;
	border-style: solid;
	/*padding: 20px;*/
	/* 余白指定 */
	/*height: 100px;*/
	/* 高さ指定 */
}

​ .search_title {
	display: inline-block;
	/* インラインブロック要素にする */
	background-color: #E6B9B8;
}

​ .search_input {
	display: inline-block;
	/* インラインブロック要素にする */
}
</style>
</head>
​

<body>
	<div style="text-align: center;">
		<h1>ホテル商品検索</h1>
		<hr>
		<p th:text="${message}" class="error">error message</p>

		<form th:object="${form}" method="post"
			th:action="@{/hotelitem/retrieve/searchlist}">
			<div>
				<div class="search_block">
					<div class="search_title">商品コード</div>
					<div class="search_input">
						<input type="text" th:field="${form.itemCode}">
					</div>
				</div>
				<div class="search_block">
					<div class="search_title">ホテル名</div>
					<div class="search_input">
						<input type="text" th:field="${form.hotelName}">
					</div>
				</div>
				<div class="search_block">
					<div class="search_title">宿泊日</div>
					<div class="search_input">
						<input type="date" th:field="${form.date}">
					</div>
				</div>
				<div style="display: inline-block;">
					<button type="submit">検索</button>
				</div>
			</div>
		</form>

		<br> ​
		<div>
			<table border="1" style="text-align: center;"
				th:if="${not #strings.isEmpty(HotelItemList)}">
				<tr>
					<th>商品コード</th>
					<th>ホテルコード</th>
					<th>ホテル名</th>
					<th>宿泊日</th>
					<th>料金</th>
					<th>在庫数</th>
				</tr>
				<th:block th:object="${HotelItemDetailForm}"
					th:each="hotelItem : ${HotelItemList}">
					<tr>
						<td><a
							th:href="@{'/hotelitem/retrieve/detail/' + ${hotelItem.itemCode}}"
							th:text="${hotelItem.itemCode}"> itemCode </a></td>
						<td th:text="${hotelItem.hotelCode}">hotelCode</td>
						<td th:text="${hotelItem.name}">name</td>
						<td th:text="${hotelItem.date}">date</td>
						<td class="digit" th:text="${hotelItem.price}+'円'">price</td>
						<td class="digit" th:text="${hotelItem.stock}">stock</td>
					</tr>
				</th:block>
			</table>
		</div>

		<!--		<script th:inline="javascript">-->
		<!--			const form = /*[[${hotelItemList}]]*/"hotelItemList";-->
		<!--			console.log("------------------");-->
		<!--			console.log(form);-->
		<!--		</script>-->

		<!--		<script th:inline="javascript">-->
		<!--			function func1() {-->
		<!--				//id="alertString1"であるhidden項目の値を取得し、-->
		<!--				//ダイアログを表示-->
		<!--				var alertStr = document.getElementById("hotelItemList").value;-->
		<!--				alert(alertStr);-->
		<!--			}-->
		<!--		</script>-->
		<!--		<input type="button" value="テスト１" onclick="func1();"/>-->
		<!--		<input type="hidden" id="alertString1" th:value="${alertString1}" />​-->

		<!--		<script type="text/javascript" th:inline="javascript">-->
		<!--			const variable = /*[[${hotelItemList}]]*/-->
		<!--			console.log(variable);-->
		<!--		</script>-->
	</div>
</body>

</html>